
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body { 
    background: rgb(235, 236, 216);
}
.navbar-dark .navbar-nav .active > .nav-link { 
    color: #42b983;
}

textarea { 
    resize: none;
}
textarea:focus, input:focus {  
box-shadow: none !important;
border-color: #42b983 !important; 
}

input, textarea { 
   border-color: rgba(66, 184, 131, 0.4) !important; 
}
.card-header { 
    border: 0 
} 
.card-body { 
    border-top: 2px solid rgba(66, 184, 131, 0.15);
}

.card-body .empty-post { 
    position: relative; 
    /* flex-grow: 1; */
    font-size: 1.1rem;
    font-weight: 600;
    color: #21573f ;
    text-align: right;
    margin-right: 300px;
}
.card-body .empty-post::after { 
    content: '';
    position: absolute;
    top: -15px;
    right: -250px;
    background-image: url(arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 240px 110px;
    width: 240px;
    height: 115px;

}

.card-header h4 { 
    margin: 0;
    font-size: 1.3rem;
    line-height: 1.3rem;
}
.btn-vue {
    background: #42b983;
    color: #fff;
}
.btn-vue:hover { 
    background: #2f8d62;
    color: #fff;
}

a::-moz-focus-inner{ 
    outline: 0;
}
a::-moz-focus-outer{ 
    border: 0 ;
}
a:focus { 
    outline: none;
}
.focus-height-200 { 
    height: 38px;
    overflow-y: hidden;
    transition: 300ms ease;
}
.focus-height-200:focus { 
    height: 200px;
    display: block;
    overflow-y: auto;
}

.table th { 
    border-top: 0 ;
    border-bottom: 1px solid rgba(66, 184, 131, .8) !important;
}